<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Achievements">

                <md-content class="md-padding">
                    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                                  md-row-height-gt-md="1:1" md-row-height="4:3"
                                  md-gutter="8px" md-gutter-gt-sm="4px"
                                  class="gridListdemoDynamicTiles">
                        <md-grid-tile ng-repeat="item in vm.AchievementList"
                                      md-rowspan="1"
                                      md-colspan="1"
                                      md-colspan-sm="1"
                                      class="gray">
                            <md-icon md-svg-src="BSL.Client/assets/images/football-icons/{{item.ImageUrl}}" style="width: 128px; height: 128px;">
                                <md-tooltip md-direction="top">
                                    {{item.Description}}
                                </md-tooltip>
                            </md-icon>
                            <md-grid-tile-footer>
                                <h3>{{item.Name}}</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </md-content>

            </md-tab>
            <md-tab label="Players' Achievements">
                <md-content class="md-padding">
                    <md-input-container>
                        <label>Player:</label>
                        <md-select ng-model="vm.PlayerSelected" ng-change="vm.LoadPlayerAchievements()">
                            <md-option ng-repeat="player in vm.PlayerList" value="{{player.Name}}">
                                {{player.Name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                                  md-row-height-gt-md="1:1" md-row-height="4:3"
                                  md-gutter="8px" md-gutter-gt-sm="4px"
                                  class="gridListdemoDynamicTiles">
                        <md-grid-tile ng-repeat="pa in vm.PlayerAchievements"
                                      md-rowspan="1"
                                      md-colspan="1"
                                      md-colspan-sm="1"
                                      class="gray">
                            <md-icon md-svg-src="BSL.Client/assets/images/football-icons/{{pa.ImageUrl}}" style="width: 128px; height: 128px;">
                                <md-tooltip md-direction="top">
                                    {{pa.Description}}
                                </md-tooltip>
                            </md-icon>
                            <md-grid-tile-footer>
                                <h3>{{pa.Name}}</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>