<!DOCTYPE html>
<html ng-app="eeBrokenShoeLeague">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Broken Shoe League</title>

    <link rel="stylesheet" href="~/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="~/App/src/styles/site.css" />
</head>
<body ng-controller="eeMainController as mainCtrl">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left-sidenav"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-tall md-hue-2">
            <span flex></span>
            <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset">                
                <span></span>
            </div>
        </md-toolbar>
        <md-list>
            <span ng-repeat="item in mainCtrl.menu">
                <md-subheader>{{item.name}}</md-subheader>
                <md-list-item ng-repeat="subitem in item.items">
                    <md-button ng-click="mainCtrl.go(subitem.url)">
                        <ng-md-icon icon="{{subitem.icon}}">
                        </ng-md-icon>
                        {{subitem.name}}
                    </md-button>
                </md-list-item>
                <md-divider ng-if="!$last"></md-divider>
            </span>
        </md-list>
    </md-sidenav>

    <div flex layout="column" tabindex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar layout="row" layout-align="center center" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="mainCtrl.toggleSidenav('left-sidenav')" aria-label="Show Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h1 class="md-headline">Game of Drones</h1>
        </md-toolbar>

        <ng-view></ng-view>
    </div>

    <!-- Angular related scripts -->
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-route/angular-route.min.js"></script>
    <script src="~/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="~/bower_components/angular-material/angular-material.min.js"></script>

    <!-- Main App -->
    <script src="~/App/src/main/broken-shoe-league.js"></script>
    <script src="~/App/src/main/controllers/ee-main-controller.js"></script>
</body>
</html>
